@font-face {
  font-family: "MuseoSansRegular";
  src: url("fonts/MuseoSansRegular/MuseoSansRegular.eot");
  src: url("fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"), url("fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansBold";
  src: url("fonts/MuseoSansBold/MuseoSansBold.eot");
  src: url("fonts/MuseoSansBold/MuseoSansBold.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSansBold/MuseoSansBold.woff") format("woff"), url("fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansItalic";
  src: url("fonts/MuseoSansItalic/MuseoSansItalic.eot");
  src: url("fonts/MuseoSansItalic/MuseoSansItalic.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSansItalic/MuseoSansItalic.woff") format("woff"), url("fonts/MuseoSansItalic/MuseoSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansLight";
  src: url("fonts/MuseoSansLight/MuseoSansLight.eot");
  src: url("fonts/MuseoSansLight/MuseoSansLight.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"), url("fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansMedium";
  src: url("fonts/MuseoSansMedium/MuseoSansMedium.eot");
  src: url("fonts/MuseoSansMedium/MuseoSansMedium.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSansMedium/MuseoSansMedium.woff") format("woff"), url("fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansBlack";
  src: url("fonts/MuseoSansBlack/MuseoSansBlack.eot");
  src: url("fonts/MuseoSansBlack/MuseoSansBlack.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSansBlack/MuseoSansBlack.woff") format("woff"), url("fonts/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansBoldItalic";
  src: url("fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot");
  src: url("fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.woff") format("woff"), url("fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansMediumItalic";
  src: url("fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot");
  src: url("fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.woff") format("woff"), url("fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansLightItalic";
  src: url("fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot");
  src: url("fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSansLightItalic/MuseoSansLightItalic.woff") format("woff"), url("fonts/MuseoSansLightItalic/MuseoSansLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansBlackItalic";
  src: url("fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot");
  src: url("fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot?#iefix") format("embedded-opentype"), url("fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.woff") format("woff"), url("fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.up {
  text-transform: uppercase;
}
.none {
  text-decoration: none;
}
.bold {
  font-family: "MuseoSansBold";
}
.un {
  text-decoration: underline;
}
.in {
  display: inline-block;
}
.vam {
  vertical-align: middle;
}
.rel {
  position: relative;
}
.bl {
  display: block;
}
.abs {
  position: absolute;
}
.r {
  font-family: "MuseoSansRegular";
}
.l {
  font-family: "MuseoSansLight";
}
.b {
  font-family: "MuseoSansBlack";
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  background: #fff;
}
body,
th,
td {
  font-family: "MuseoSansRegular";
  font-size: 14px;
  color: #34383f;
}
body,
form,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img,
table {
  border: none;
}
table {
  border-collapse: collapse;
}
table td {
  padding: 0;
}
a {
  color: #34383f;
  cursor: pointer;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}
a:hover {
  text-decoration: none;
}
input,
textarea,
button,
select {
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "MuseoSansRegular";
}
button,
input[type='submit'] {
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
  cursor: pointer;
}
.an {
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}
section,
header,
footer,
nav,
main {
  display: block;
}
.clear {
  clear: both;
}
.wrap {
  margin: 0 auto;
  width: 940px;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header {
  padding: 30px 0 40px;
}
.header.inner {
  box-shadow: rgba(1, 1, 1, 0.1) 0 0 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.header .logo {
  float: left;
}
.header .logo img {
  vertical-align: middle;
}
.header .logo div {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.header .logo div .link {
  font-family: "MuseoSansBlack";
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #40d347;
}
.header .logo div .link span {
  color: #35a7f4;
}
.header .logo div .fa {
  color: #35a7f4;
}
.header .logo div .city {
  color: #35a7f4;
  text-decoration: none;
  border-bottom: 1px dashed #35a7f4;
}
.header .menu-button {
  float: right;
  cursor: pointer;
  padding-top: 15px;
  display: none;
}
.header .menu-button .fa {
  font-size: 20px;
  color: #35a7f4;
}
.header .top-menu {
  float: right;
  padding-top: 15px;
}
.header .top-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header .top-menu ul li {
  display: inline-block;
  margin-left: 25px;
}
.header .top-menu ul li a {
  font-size: 16px;
  color: #34383f;
}
.index-about-text {
  margin-bottom: 50px;
  padding: 50px 20px 20px 20px;
  box-shadow: rgba(1, 1, 1, 0.1) 0 0 30px;
  text-align: center;
}
.index-about-text .top-text {
  font-family: "MuseoSansBlack";
  font-size: 25px;
  margin-bottom: 20px;
}
.index-about-text p {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 10px;
}
.index-about-text button {
  font-family: "MuseoSansBlack";
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background: #40d347;
  border: 0;
  border-radius: 24px;
  padding: 11px 50px;
  margin-bottom: 30px;
}
.index-about-text .item {
  width: 20%;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
}
.index-about-text .item img {
  max-width: 100;
}
.index-about-text .item div {
  font-family: "MuseoSansBold";
  font-size: 16px;
}
.calculator {
  text-align: center;
}
.calculator .top-text {
  font-family: "MuseoSansBlack";
  font-size: 25px;
  margin-bottom: 5px;
}
.calculator .middle-text {
  margin-bottom: 20px;
  line-height: 24px;
}
.calculator .tabNavigation {
  padding: 0;
  margin: 0 0 40px 0;
  list-style: none;
}
.calculator .tabNavigation li {
  display: inline-block;
}
.calculator .tabNavigation li a {
  display: block;
  position: relative;
  padding: 10px 30px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 32px;
}
.calculator .tabNavigation li a.selected {
  color: #fff;
  background: #00a9f7;
}
.calculator .tabNavigation li a.selected:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -2px;
  bottom: -10px;
  border: 5px solid transparent;
  border-top: 5px solid #00a9f7;
}
.calculator .tabNavigation li a.selected span {
  border-bottom: 1px dashed transparent;
}
.calculator .tabNavigation li a span {
  border-bottom: 1px dashed #34383f;
}
.calculator .content {
  box-shadow: rgba(1, 1, 1, 0.1) 0 0 30px;
  margin-bottom: 40px;
  text-align: left;
  padding: 40px 30px;
}
.calculator .content .params {
  float: left;
  width: 592px;
}
.calculator .content .params .item {
  width: 46%;
  font-family: "MuseoSansBlack";
  font-size: 18px;
}
.calculator .content .params .item .ui-widget.ui-widget-content {
  border: 0;
  margin: 20px 0 10px;
}
.calculator .content .params .item .ui-widget-content {
  background: #40d347;
}
.calculator .content .params .item .ui-slider-horizontal {
  height: 3px;
}
.calculator .content .params .item .ui-widget-header {
  background: #d6d7d9;
}
.calculator .content .params .item .ui-state-default,
.calculator .content .params .item .ui-widget-content .ui-state-default,
.calculator .content .params .item .ui-widget-header .ui-state-default,
.calculator .content .params .item .ui-button,
.calculator .content .params .item html .ui-button.ui-state-disabled:hover,
.calculator .content .params .item html .ui-button.ui-state-disabled:active {
  outline: none;
  border: 0;
  border-radius: 50%;
  background: #40d347;
  width: 10px;
  height: 10px;
  top: -3px;
  margin-left: -5px;
}
.calculator .content .params .item input[type='text'] {
  border: 0;
  width: 100%;
  font-size: 18px;
  font-family: "MuseoSansRegular";
}
.calculator .content .button {
  float: right;
  width: 258px;
  padding-top: 17px;
}
.calculator .content .button button {
  font-family: "MuseoSansBlack";
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background: #40d347;
  border: 0;
  border-radius: 24px;
  padding: 12px 0;
  width: 100%;
}
.calculator .content .result {
  padding-top: 30px;
}
.calculator .content .result .map {
  float: left;
  width: 592px;
  height: 325px;
}
.calculator .content .result .text {
  float: right;
  width: 258px;
  line-height: 24px;
}
.calculator .content .result .text .bank {
  border-top: 1px solid #d6d7d9;
  margin-top: 12px;
  padding-top: 20px;
  line-height: 28px;
  font-family: "MuseoSansBold";
}
.calculator .content .result .text .bank img {
  max-width: 100%;
}
.calculator .content .result .text .bank a {
  color: #00a9f7;
  text-decoration: none;
  border-bottom: 1px dashed #00a9f7;
}
.cash-credits {
  text-align: center;
}
.cash-credits .top-text {
  font-family: "MuseoSansBlack";
  font-size: 25px;
  margin-bottom: 5px;
}
.cash-credits .middle-text {
  margin-bottom: 20px;
  line-height: 24px;
  padding: 0 100px;
}
.cash-credits .tabNavigation {
  padding: 0;
  margin: 0 0 40px 0;
  list-style: none;
}
.cash-credits .tabNavigation li {
  display: inline-block;
}
.cash-credits .tabNavigation li a {
  display: block;
  position: relative;
  padding: 10px 30px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 32px;
}
.cash-credits .tabNavigation li a.selected {
  color: #fff;
  background: #00a9f7;
}
.cash-credits .tabNavigation li a.selected span {
  border-bottom: 1px dashed transparent;
}
.cash-credits .tabNavigation li a span {
  border-bottom: 1px dashed #34383f;
}
.cash-credits .item {
  width: 31%;
  box-shadow: rgba(1, 1, 1, 0.1) 0 0 30px;
  margin-bottom: 20px;
}
.cash-credits .item .image {
  padding: 25px 0 20px;
}
.cash-credits .item .image img {
  max-width: 90%;
}
.cash-credits .item .text {
  line-height: 24px;
  padding: 0 25px 20px 25px;
  text-align: left;
}
.cash-credits .item .text.bld {
  border-top: 1px solid #ededed;
  padding: 20px 25px;
  font-family: "MuseoSansBold";
}
.cash-credits .item .text span {
  font-family: "MuseoSansBold";
  color: #40d347;
}
.cash-credits .item .button {
  padding-bottom: 25px;
}
.cash-credits .item .button button {
  font-family: "MuseoSansBlack";
  color: #fff;
  text-transform: uppercase;
  background: #c5c5c5;
  border: 0;
  border-radius: 24px;
  padding: 10px 30px;
  margin-right: 15px;
}
.cash-credits .item .button button:hover {
  background: #40d347;
}
.cash-credits .item .button a {
  color: #00a9f7;
  text-decoration: none;
  border-bottom: 1px dashed #00a9f7;
}
.cash-credits .bottom-link {
  text-align: center;
  margin: 15px 0 40px;
}
.cash-credits .bottom-link a {
  font-size: 16px;
  color: #00a9f7;
  text-decoration: none;
  border-bottom: 1px dashed #00a9f7;
}
.footer {
  padding: 30px 0;
  text-align: center;
  box-shadow: rgba(1, 1, 1, 0.2) 0 0 30px;
}
.footer .social img {
  margin: 0 8px;
}
.footer ul {
  padding: 20px 0;
  margin: 0;
  list-style: none;
}
.footer ul li {
  display: inline-block;
  margin: 0 10px;
}
.navi {
  margin-bottom: 20px;
  font-size: 12px;
}
.bank-page .block-name {
  font-family: "MuseoSansBlack";
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}
.bank-page .logo {
  text-align: center;
  margin-bottom: 20px;
}
.bank-page .info-table {
  margin: 20px 0 40px;
  box-shadow: rgba(1, 1, 1, 0.1) 0 0 30px;
}
.bank-page .info-table table {
  width: 100%;
}
.bank-page .info-table table tr:first-child td {
  font-family: "MuseoSansBlack";
  font-size: 16px;
  white-space: nowrap;
}
.bank-page .info-table table tr td {
  border: 1px solid #dedede;
  padding: 20px;
  text-align: center;
  font-family: "MuseoSansBold";
  line-height: 24px;
}
.bank-page .info-table table tr td:first-child {
  text-align: left;
}
.bank-page .info-table table tr td button {
  font-family: "MuseoSansBlack";
  color: #fff;
  text-transform: uppercase;
  background: #40d347;
  white-space: nowrap;
  border: 0;
  font-size: 12px;
  border-radius: 24px;
  padding: 10px 20px;
}
.bank-page .top-block-text {
  margin-bottom: 20px;
  line-height: 24px;
  text-align: center;
}
.bank-page .adresses {
  box-shadow: rgba(1, 1, 1, 0.1) 0 0 30px;
  padding: 30px;
  margin-bottom: 40px;
}
.bank-page .adresses .map {
  float: left;
  width: 592px;
  height: 325px;
  position: relative;
}
.bank-page .adresses .map .window {
  background: #fff;
  position: absolute;
  width: 180px;
  padding: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 22px;
  font-size: 12px;
  font-family: "MuseoSansBold";
}
.bank-page .adresses .map .window img {
  max-width: 100%;
}
.bank-page .adresses .map .window a {
  font-size: 12px;
  text-decoration: none;
  color: #00a9f7;
  border-bottom: 1px dashed #00a9f7;
}
.bank-page .adresses .text {
  float: right;
  width: 258px;
  line-height: 24px;
}
.bank-page .adresses .text .list {
  border-top: 1px solid #d6d7d9;
  margin-top: 10px;
  padding: 10px 0;
  line-height: 20px;
  height: 200px;
  overflow-y: scroll;
}
.bank-page .adresses .text .list .b {
  display: block;
  margin-top: 5px;
}
.bank-page .reviews {
  margin-bottom: 15px;
}
.bank-page .reviews .item {
  padding: 25px 0;
  border-bottom: 1px solid #d6d7d9;
}
.bank-page .reviews .item.last {
  border-bottom: 0;
}
.bank-page .reviews .item .date {
  font-size: 16px;
  color: #35a7f4;
  margin-bottom: 5px;
}
.bank-page .reviews .item .name {
  font-family: "MuseoSansBold";
  font-size: 22px;
  margin-bottom: 10px;
}
.bank-page .reviews .item .name .fa {
  color: #40d347;
}
.bank-page .reviews .item p {
  line-height: 24px;
}
.bank-page .reviews .button {
  padding-bottom: 20px;
}
.bank-page .reviews .button button {
  font-family: "MuseoSansBlack";
  color: #fff;
  text-transform: uppercase;
  background: #40d347;
  border: 0;
  border-radius: 24px;
  padding: 10px 20px;
  margin-right: 15px;
  font-size: 12px;
}
.bank-page .reviews .button a {
  color: #00a9f7;
  text-decoration: none;
  border-bottom: 1px dashed #00a9f7;
}
.bank-page .contacts {
  margin: 20px 100px 50px 100px;
  box-shadow: rgba(1, 1, 1, 0.1) 0 0 30px;
  padding: 30px;
}
.bank-page .contacts .name {
  float: left;
  width: 270px;
}
.bank-page .contacts .name img {
  max-width: 80px;
}
.bank-page .contacts .name div {
  padding: 15px 0 25px;
  font-size: 20px;
  color: #35a7f4;
  font-family: "MuseoSansBlack";
}
.bank-page .contacts .name button {
  font-family: "MuseoSansBlack";
  color: #fff;
  text-transform: uppercase;
  background: #40d347;
  border: 0;
  border-radius: 24px;
  padding: 10px 20px;
  margin-right: 15px;
  font-size: 12px;
}
.bank-page .contacts .text {
  margin-left: 300px;
}
.bank-page .contacts .text .item {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "MuseoSansBold";
}
.bank-page .contacts .text .item:last-child {
  margin-bottom: 0;
}
.bank-page .contacts .text .item div {
  font-family: "MuseoSansBlack";
}
.popup {
  position: fixed;
  width: 120%;
  height: 100%;
  left: -10%;
  top: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.8);
  overflow-y: scroll;
  display: none;
}
.popup .window {
  position: absolute;
  box-shadow: rgba(1, 1, 1, 0.2) 0 0 30px;
  width: 790px;
  top: 100px;
  margin-bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 0;
  background: #fff;
  text-align: center;
}
.popup .window .close {
  position: absolute;
  right: 15px;
  top: 15px;
}
.popup .window form {
  padding: 0 30px;
}
.popup .window .name {
  font-family: "MuseoSansBlack";
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.popup .window .item {
  width: 32%;
}
.popup .window input[type='text'],
.popup .window select {
  width: 100%;
  height: 44px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  padding: 0 10px;
}
.popup .window select {
  padding: 0 6px;
}
.popup .window textarea {
  width: 100%;
  height: 160px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  padding: 10px;
}
.popup .window input[type='submit'] {
  font-size: 17px;
  font-family: "MuseoSansBlack";
  text-transform: uppercase;
  color: #fff;
  border: 0;
  border-radius: 32px;
  padding: 15px 30px;
  background: #40d347;
}
@media (max-width: 960px) {
  .wrap {
    width: 747px;
  }
  .header .top-menu ul li {
    margin-left: 10px;
  }
  .header .top-menu ul li a {
    font-size: 15px;
  }
  .index-about-text .item {
    width: 23%;
  }
  .calculator .tabNavigation li a {
    padding: 10px 20px;
  }
  .calculator .content .params {
    width: 400px;
  }
  .calculator .content .result .map {
    width: 400px;
  }
  .cash-credits .middle-text {
    padding: 0 50px;
  }
  .cash-credits .tabNavigation li a {
    padding: 10px 20px;
  }
  .cash-credits .item {
    width: 32.5%;
  }
  .cash-credits .item .text {
    padding: 0 20px 20px 20px;
  }
  .cash-credits .item .text.bld {
    padding: 20px;
  }
  .cash-credits .item .button button {
    display: block;
    margin: 0 auto 10px auto;
  }
  .bank-page .info-table table tr td {
    padding: 15px;
  }
  .bank-page .adresses .map {
    width: 400px;
  }
  .bank-page .contacts {
    margin: 20px 0 50px;
  }
}
@media (max-width: 767px) {
  .wrap {
    width: auto;
    padding: 0 10px;
  }
  .header .menu-button {
    display: block;
  }
  .menubg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 11;
    background: rgba(1, 1, 1, 0.7);
    display: none;
  }
  .header .top-menu {
    position: fixed;
    width: 280px;
    height: 100%;
    left: -300px;
    top: 0;
    padding: 0;
    margin: 0;
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
    z-index: 11;
    background: #fff;
  }
  .header .top-menu.opened {
    left: 0;
  }
  .header .top-menu ul li {
    display: block;
    margin: 0;
  }
  .header .top-menu ul li a {
    font-size: 16px;
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }
  .index-about-text {
    padding: 20px;
  }
  .index-about-text .item {
    width: 100%;
  }
  .calculator .content {
    padding: 20px;
  }
  .calculator .content .params {
    float: none;
    width: auto;
  }
  .calculator .content .params .item {
    width: 100%;
    margin-bottom: 20px;
  }
  .calculator .content .button {
    float: none;
    width: auto;
    padding-top: 0;
  }
  .calculator .content .result .map {
    float: none;
    width: auto;
  }
  .calculator .content .result .text {
    float: none;
    width: auto;
    padding-top: 20px;
  }
  .cash-credits .middle-text {
    padding: 0;
  }
  .cash-credits .item {
    width: 100%;
  }
  .footer ul li {
    display: block;
    margin: 5px 0;
  }
  .bank-page .info-table {
    overflow-x: scroll;
  }
  .bank-page .adresses {
    padding: 20px;
  }
  .bank-page .adresses .map {
    float: none;
    width: auto;
  }
  .bank-page .adresses .text {
    float: none;
    width: auto;
    margin-top: 20px;
  }
  .bank-page .contacts {
    padding: 20px;
  }
  .bank-page .contacts .name {
    float: none;
    width: auto;
  }
  .bank-page .contacts .text {
    margin: 20px 0 0 0;
  }
  .bank-page .info-table table tr:first-child td {
    font-size: 14px;
    padding: 5px;
  }
  .bank-page .info-table table tr td {
    font-size: 12px;
    padding: 5px;
  }
  .bank-page .info-table table tr td button {
    font-size: 11px;
    padding: 5px 10px;
  }
  .popup .window {
    width: 300px;
    top: 50px;
    margin-bottom: 50px;
  }
  .popup .window form {
    padding: 0 20px;
  }
  .popup .window .item {
    width: 100%;
  }
}
